{
  "openapi": "3.0.3",
  "info": {
    "title": "NEUS Network — Public Integrator API",
    "version": "1.0.0",
    "description": "Public integrator surface for NEUS.\n\nThis spec is generated from the running Express routes and explicit public operation metadata.\n\nNote: Some verifiers require pro access. Admin-only capabilities are excluded from this spec.",
    "license": {
      "name": "Business Source License 1.1",
      "url": "https://mariadb.com/bsl11/"
    }
  },
  "security": [],
  "servers": [
    {
      "url": "https://api.neus.network",
      "description": "Production API"
    }
  ],
  "components": {
    "schemas": {
      "Timestamp": {
        "oneOf": [
          {
            "type": "string",
            "format": "date-time"
          },
          {
            "type": "number"
          }
        ]
      },
      "ErrorResponse": {
        "type": "object",
        "required": [
          "success",
          "error"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              false
            ]
          },
          "error": {
            "type": "object",
            "required": [
              "code",
              "message"
            ],
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              },
              "type": {
                "type": "string"
              },
              "details": {}
            },
            "additionalProperties": true
          },
          "timestamp": {
            "$ref": "#/components/schemas/Timestamp"
          },
          "requestId": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "StandardizeRequest": {
        "type": "object",
        "required": [
          "walletAddress",
          "verifierIds",
          "data",
          "signedTimestamp"
        ],
        "properties": {
          "walletAddress": {
            "type": "string"
          },
          "verifierIds": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "ownership-basic",
                "ownership-social",
                "ownership-pseudonym",
                "ownership-dns-txt",
                "ownership-org-oauth",
                "contract-ownership",
                "proof-of-human",
                "nft-ownership",
                "token-holding",
                "wallet-risk",
                "wallet-link",
                "ai-content-moderation",
                "agent-identity",
                "agent-delegation"
              ]
            },
            "minItems": 1
          },
          "data": {
            "oneOf": [
              {
                "type": "object"
              },
              {
                "type": "string"
              }
            ]
          },
          "signedTimestamp": {
            "type": "number"
          },
          "chainId": {
            "type": "integer",
            "description": "Optional. For EVM (0x address), verification requests are normalized to the protocol hub chain. For non-EVM, include chain (CAIP-2) instead."
          },
          "chain": {
            "type": "string",
            "description": "Optional. For EVM (0x address), verification requests are normalized to protocol hub chain context. For non-EVM, include chain (e.g. solana:mainnet)."
          },
          "signatureMethod": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "StandardizeResponse": {
        "type": "object",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "object",
            "required": [
              "signerString",
              "bodyPreview"
            ],
            "properties": {
              "signerString": {
                "type": "string"
              },
              "bodyPreview": {
                "type": "object",
                "additionalProperties": true
              }
            },
            "additionalProperties": true
          }
        },
        "additionalProperties": true
      },
      "VerificationRequest": {
        "type": "object",
        "required": [
          "verifierIds",
          "data",
          "walletAddress"
        ],
        "properties": {
          "verifierIds": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "ownership-basic",
                "ownership-social",
                "ownership-pseudonym",
                "ownership-dns-txt",
                "ownership-org-oauth",
                "contract-ownership",
                "proof-of-human",
                "nft-ownership",
                "token-holding",
                "wallet-risk",
                "wallet-link",
                "ai-content-moderation",
                "agent-identity",
                "agent-delegation"
              ]
            },
            "minItems": 1
          },
          "data": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/VerificationDataFlat"
              },
              {
                "$ref": "#/components/schemas/VerificationDataNamespaced"
              },
              {
                "type": "string"
              }
            ]
          },
          "walletAddress": {
            "type": "string",
            "description": "Signer wallet address (who authenticates the request)"
          },
          "subjectWallet": {
            "type": "string",
            "description": "Optional: Wallet being verified (delegated subject). Must match signed payload for verifiers that support delegated subjects (allowsDelegatedSubject: true). Defaults to walletAddress if omitted. Only valid when all verifiers in verifierIds support allowsDelegatedSubject: true."
          },
          "signature": {
            "type": "string",
            "description": "Required unless authenticated session is present"
          },
          "signedTimestamp": {
            "type": "number",
            "description": "Required unless authenticated session is present"
          },
          "chainId": {
            "type": "integer",
            "description": "Optional. For EVM (0x address), verification requests are normalized to the protocol hub chain. For non-EVM, include chain (CAIP-2) instead."
          },
          "chain": {
            "type": "string",
            "description": "Optional. For EVM (0x address), verification requests are normalized to protocol hub chain context. For non-EVM, include chain (e.g. solana:mainnet)."
          },
          "signatureMethod": {
            "type": "string"
          },
          "options": {
            "type": "object",
            "additionalProperties": true
          },
          "meta": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "additionalProperties": true
      },
      "VerificationAcceptedResponse": {
        "type": "object",
        "required": [
          "success",
          "status",
          "message",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "status": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "qHash": {
                "type": "string",
                "pattern": "^0x[a-fA-F0-9]{64}$"
              },
              "proofId": {
                "type": "string"
              },
              "statusUrl": {
                "type": "string"
              }
            },
            "additionalProperties": true
          }
        },
        "additionalProperties": true
      },
      "VerificationCompleteResponse": {
        "type": "object",
        "required": [
          "success",
          "status",
          "message",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "status": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "additionalProperties": true
          },
          "creditInfo": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "additionalProperties": true
      },
      "VerificationStatusResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "additionalProperties": true
          },
          "status": {
            "type": "string"
          },
          "qHash": {
            "type": "string"
          },
          "cached": {
            "type": "boolean"
          },
          "cachedAt": {
            "type": "number"
          }
        },
        "additionalProperties": true
      },
      "VerificationStatusBatchResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "ok": {
            "type": "boolean"
          },
          "results": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "qHash": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "createdAt": {
                  "nullable": true,
                  "type": "string"
                },
                "lastUpdated": {
                  "oneOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "number"
                    }
                  ]
                },
                "completedAt": {
                  "nullable": true,
                  "type": "string"
                },
                "privacyLevel": {
                  "type": "string"
                },
                "cached": {
                  "type": "boolean"
                },
                "cachedAt": {
                  "nullable": true,
                  "type": "number"
                }
              },
              "additionalProperties": true
            }
          }
        },
        "additionalProperties": true
      },
      "ProofsByWalletResponse": {
        "type": "object",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "object",
            "required": [
              "proofs",
              "totalCount",
              "hasMore",
              "resolved",
              "pagination"
            ],
            "properties": {
              "proofs": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                }
              },
              "totalCount": {
                "type": "number"
              },
              "hasMore": {
                "type": "boolean"
              },
              "nextOffset": {
                "nullable": true,
                "type": "number"
              },
              "resolved": {
                "type": "object",
                "additionalProperties": true
              },
              "pagination": {
                "type": "object",
                "additionalProperties": true
              }
            },
            "additionalProperties": true
          },
          "timestamp": {
            "$ref": "#/components/schemas/Timestamp"
          }
        },
        "additionalProperties": true
      },
      "GateCheckResponse": {
        "type": "object",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "object",
            "additionalProperties": true
          },
          "timestamp": {
            "$ref": "#/components/schemas/Timestamp"
          }
        },
        "additionalProperties": true
      },
      "RevokeSelfRequest": {
        "type": "object",
        "required": [
          "walletAddress",
          "signature",
          "signedTimestamp"
        ],
        "properties": {
          "walletAddress": {
            "type": "string"
          },
          "signature": {
            "type": "string"
          },
          "signedTimestamp": {
            "type": "number"
          }
        },
        "additionalProperties": true
      },
      "RevokeSelfResponse": {
        "type": "object",
        "required": [
          "success",
          "alreadyRevoked",
          "timestamp"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "alreadyRevoked": {
            "type": "boolean"
          },
          "timestamp": {
            "$ref": "#/components/schemas/Timestamp"
          }
        },
        "additionalProperties": true
      },
      "VerifierData_ownership_basic": {
        "type": "object",
        "required": [
          "owner"
        ],
        "properties": {
          "content": {
            "type": "string",
            "maxLength": 50000,
            "description": "Content being claimed (max 50KB inline)"
          },
          "contentHash": {
            "type": "string",
            "pattern": "^0x[a-fA-F0-9]{64}$",
            "description": "Pre-computed verifier content hash (32-byte hex). Treated as the canonical verifierContentHash for ownership-basic; if content is also provided, the verifier integrity-checks that they match."
          },
          "contentType": {
            "type": "string",
            "maxLength": 100,
            "description": "MIME type hint"
          },
          "owner": {
            "type": "string",
            "description": "Owner identifier (must match request walletAddress). Supports EVM (0x..), Solana (base58), NEAR (account IDs), and other universal address formats depending on chain context.",
            "minLength": 1,
            "pattern": "^(0x[a-fA-F0-9]{40}|[1-9A-HJ-NP-Za-km-z]{32,44}|[a-z0-9._-]{2,64})$"
          },
          "reference": {
            "type": "object",
            "required": [
              "type"
            ],
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "ipfs",
                  "ipfs-hash",
                  "url",
                  "license-nft",
                  "contract",
                  "qhash",
                  "ethereum-tx",
                  "on-chain-tx",
                  "tx",
                  "file",
                  "doc",
                  "media",
                  "username-claim",
                  "other"
                ],
                "description": "Reference type"
              },
              "id": {
                "type": "string",
                "maxLength": 2048,
                "description": "Reference identifier"
              },
              "title": {
                "type": "string",
                "maxLength": 200
              },
              "description": {
                "type": "string",
                "maxLength": 500
              },
              "mime": {
                "type": "string",
                "maxLength": 100
              },
              "name": {
                "type": "string",
                "maxLength": 255
              },
              "size": {
                "type": "integer",
                "minimum": 0
              }
            }
          },
          "provenance": {
            "type": "object",
            "properties": {
              "declaredKind": {
                "type": "string",
                "enum": [
                  "human",
                  "ai",
                  "mixed",
                  "unknown"
                ]
              },
              "aiContext": {
                "type": "object",
                "properties": {
                  "generatorType": {
                    "type": "string",
                    "enum": [
                      "local",
                      "saas",
                      "agent"
                    ]
                  },
                  "provider": {
                    "type": "string",
                    "maxLength": 64
                  },
                  "model": {
                    "type": "string",
                    "maxLength": 128
                  },
                  "runId": {
                    "type": "string",
                    "maxLength": 128
                  }
                }
              }
            }
          }
        }
      },
      "VerifierData_ownership_social": {
        "type": "object",
        "required": [
          "provider",
          "internalSocialToken"
        ],
        "properties": {
          "provider": {
            "type": "string",
            "enum": [
              "discord",
              "github",
              "facebook",
              "x",
              "farcaster",
              "linkedin",
              "telegram",
              "coinbase"
            ]
          },
          "internalSocialToken": {
            "type": "string"
          },
          "walletAddress": {
            "type": "string",
            "pattern": "^(0x[a-fA-F0-9]{40}|[1-9A-HJ-NP-Za-km-z]{32,44}|[a-z0-9._-]{2,64})$"
          }
        }
      },
      "VerifierData_ownership_pseudonym": {
        "type": "object",
        "required": [
          "pseudonymId"
        ],
        "properties": {
          "pseudonymId": {
            "type": "string",
            "pattern": "^[a-z0-9][a-z0-9._-]{1,30}[a-z0-9]$",
            "minLength": 3,
            "maxLength": 32
          },
          "namespace": {
            "type": "string",
            "pattern": "^[a-z0-9]([a-z0-9._-]*[a-z0-9])?$",
            "minLength": 1,
            "maxLength": 64,
            "default": "neus"
          },
          "displayName": {
            "type": "string",
            "maxLength": 64
          },
          "metadata": {
            "type": "object"
          }
        }
      },
      "VerifierData_ownership_dns_txt": {
        "type": "object",
        "required": [
          "domain"
        ],
        "properties": {
          "domain": {
            "type": "string",
            "format": "hostname",
            "minLength": 1
          },
          "walletAddress": {
            "type": "string",
            "pattern": "^(0x[a-fA-F0-9]{40}|[1-9A-HJ-NP-Za-km-z]{32,44}|[a-z0-9._-]{2,64})$"
          }
        }
      },
      "VerifierData_ownership_org_oauth": {
        "type": "object",
        "required": [
          "provider",
          "internalSocialToken"
        ],
        "properties": {
          "provider": {
            "type": "string",
            "enum": [
              "google",
              "microsoft"
            ]
          },
          "internalSocialToken": {
            "type": "string"
          },
          "walletAddress": {
            "type": "string",
            "pattern": "^(0x[a-fA-F0-9]{40}|[1-9A-HJ-NP-Za-km-z]{32,44}|[a-z0-9._-]{2,64})$"
          },
          "expectedOrgDomain": {
            "type": "string",
            "format": "hostname"
          }
        }
      },
      "VerifierData_contract_ownership": {
        "type": "object",
        "required": [
          "contractAddress",
          "chainId"
        ],
        "properties": {
          "contractAddress": {
            "type": "string",
            "pattern": "^0x[a-fA-F0-9]{40}$"
          },
          "chainId": {
            "type": "integer",
            "minimum": 1
          },
          "walletAddress": {
            "type": "string",
            "pattern": "^0x[a-fA-F0-9]{40}$"
          },
          "method": {
            "type": "string",
            "enum": [
              "owner",
              "admin",
              "accessControl"
            ]
          }
        }
      },
      "VerifierData_proof_of_human": {
        "type": "object",
        "required": [
          "proofs",
          "queryResult"
        ],
        "properties": {
          "provider": {
            "type": "string",
            "enum": [
              "zkpassport"
            ]
          },
          "proofs": {
            "type": "array",
            "minItems": 1,
            "maxItems": 10
          },
          "queryResult": {
            "type": "object"
          },
          "scope": {
            "type": "string",
            "pattern": "^[a-zA-Z0-9_-]{1,64}$"
          }
        }
      },
      "VerifierData_nft_ownership": {
        "type": "object",
        "required": [
          "contractAddress",
          "tokenId",
          "chainId"
        ],
        "properties": {
          "ownerAddress": {
            "type": "string",
            "pattern": "^0x[a-fA-F0-9]{40}$"
          },
          "contractAddress": {
            "type": "string",
            "pattern": "^0x[a-fA-F0-9]{40}$"
          },
          "tokenId": {
            "type": "string",
            "minLength": 1
          },
          "tokenType": {
            "type": "string",
            "enum": [
              "erc721",
              "erc1155"
            ],
            "default": "erc721"
          },
          "chainId": {
            "type": "integer",
            "minimum": 1
          },
          "blockNumber": {
            "type": "integer",
            "minimum": 0
          }
        }
      },
      "VerifierData_token_holding": {
        "type": "object",
        "required": [
          "contractAddress",
          "minBalance",
          "chainId"
        ],
        "properties": {
          "ownerAddress": {
            "type": "string",
            "pattern": "^0x[a-fA-F0-9]{40}$"
          },
          "contractAddress": {
            "type": "string",
            "pattern": "^0x[a-fA-F0-9]{40}$"
          },
          "minBalance": {
            "type": "string",
            "minLength": 1
          },
          "chainId": {
            "type": "integer",
            "minimum": 1
          },
          "blockNumber": {
            "type": "integer",
            "minimum": 0
          }
        }
      },
      "VerifierData_wallet_risk": {
        "type": "object",
        "required": [
          "walletAddress"
        ],
        "properties": {
          "provider": {
            "type": "string",
            "enum": [
              "webacy"
            ],
            "default": "webacy"
          },
          "walletAddress": {
            "anyOf": [
              {
                "type": "string",
                "pattern": "^0x[a-fA-F0-9]{40}$"
              },
              {
                "type": "string",
                "pattern": "^[1-9A-HJ-NP-Za-km-z]{32,44}$"
              }
            ]
          },
          "chain": {
            "type": "string",
            "enum": [
              "eth",
              "base",
              "bsc",
              "pol",
              "opt",
              "arb",
              "sol",
              "ton",
              "sei",
              "sui",
              "btc",
              "stellar"
            ]
          },
          "chainId": {
            "type": "integer",
            "minimum": 1
          }
        }
      },
      "VerifierData_wallet_link": {
        "type": "object",
        "required": [
          "signature",
          "signatureMethod",
          "signedTimestamp"
        ],
        "anyOf": [
          {
            "required": [
              "primaryAccountId",
              "secondaryAccountId"
            ]
          },
          {
            "required": [
              "primaryWalletAddress",
              "secondaryWalletAddress",
              "chain"
            ]
          }
        ],
        "properties": {
          "primaryAccountId": {
            "type": "string",
            "format": "caip10-account"
          },
          "secondaryAccountId": {
            "type": "string",
            "format": "caip10-account"
          },
          "primaryChainRef": {
            "type": "string",
            "pattern": "^[a-z0-9]+:[a-zA-Z0-9._-]+$"
          },
          "secondaryChainRef": {
            "type": "string",
            "pattern": "^[a-z0-9]+:[a-zA-Z0-9._-]+$"
          },
          "primaryWalletAddress": {
            "type": "string",
            "pattern": "^(0x[a-fA-F0-9]{40}|[1-9A-HJ-NP-Za-km-z]{32,44}|[a-z0-9._-]{2,64})$"
          },
          "secondaryWalletAddress": {
            "type": "string",
            "pattern": "^(0x[a-fA-F0-9]{40}|[1-9A-HJ-NP-Za-km-z]{32,44}|[a-z0-9._-]{2,64})$"
          },
          "signature": {
            "type": "string",
            "minLength": 1
          },
          "chain": {
            "type": "string",
            "pattern": "^[a-z0-9]+:[a-zA-Z0-9._-]+$"
          },
          "signatureMethod": {
            "type": "string",
            "minLength": 1
          },
          "signedTimestamp": {
            "type": "integer",
            "minimum": 0
          },
          "relationshipType": {
            "type": "string",
            "enum": [
              "primary",
              "personal",
              "org",
              "affiliate",
              "agent",
              "linked"
            ]
          },
          "label": {
            "type": "string",
            "maxLength": 64
          }
        }
      },
      "VerifierData_ai_content_moderation": {
        "type": "object",
        "required": [
          "content",
          "contentType"
        ],
        "properties": {
          "content": {
            "type": "string",
            "maxLength": 13653334
          },
          "contentType": {
            "type": "string",
            "enum": [
              "image/jpeg",
              "image/png",
              "image/webp",
              "image/gif",
              "text/plain",
              "text/markdown",
              "text/x-markdown",
              "application/json",
              "application/xml"
            ]
          },
          "provider": {
            "type": "string",
            "enum": [
              "google-vision",
              "google-perspective"
            ]
          }
        }
      },
      "VerifierData_agent_identity": {
        "type": "object",
        "required": [
          "agentId"
        ],
        "anyOf": [
          {
            "required": [
              "agentAccountId"
            ]
          },
          {
            "required": [
              "agentWallet"
            ]
          }
        ],
        "properties": {
          "agentId": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          },
          "agentAccountId": {
            "type": "string",
            "format": "caip10-account"
          },
          "agentChainRef": {
            "type": "string",
            "pattern": "^[a-z0-9]+:[a-zA-Z0-9._-]+$"
          },
          "agentWallet": {
            "type": "string",
            "pattern": "^(0x[a-fA-F0-9]{40}|[1-9A-HJ-NP-Za-km-z]{32,44}|[a-z0-9._-]{2,64})$"
          },
          "agentLabel": {
            "type": "string",
            "maxLength": 128
          },
          "agentType": {
            "type": "string",
            "enum": [
              "ai",
              "bot",
              "service",
              "automation",
              "agent"
            ]
          },
          "description": {
            "type": "string",
            "maxLength": 500
          },
          "capabilities": {
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 128
            },
            "maxItems": 32
          },
          "instructions": {
            "type": "string",
            "maxLength": 4000
          },
          "skills": {
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 64
            },
            "maxItems": 48
          },
          "services": {
            "type": "array",
            "maxItems": 16,
            "items": {
              "type": "object",
              "required": [
                "name",
                "endpoint"
              ],
              "properties": {
                "name": {
                  "type": "string",
                  "maxLength": 64
                },
                "endpoint": {
                  "type": "string",
                  "format": "uri",
                  "maxLength": 256
                },
                "version": {
                  "type": "string",
                  "maxLength": 32
                }
              }
            }
          }
        }
      },
      "VerifierData_agent_delegation": {
        "type": "object",
        "anyOf": [
          {
            "required": [
              "controllerAccountId",
              "agentAccountId"
            ]
          },
          {
            "required": [
              "controllerWallet",
              "agentWallet"
            ]
          }
        ],
        "properties": {
          "controllerAccountId": {
            "type": "string",
            "format": "caip10-account"
          },
          "controllerChainRef": {
            "type": "string",
            "pattern": "^[a-z0-9]+:[a-zA-Z0-9._-]+$"
          },
          "controllerWallet": {
            "type": "string",
            "pattern": "^(0x[a-fA-F0-9]{40}|[1-9A-HJ-NP-Za-km-z]{32,44}|[a-z0-9._-]{2,64})$"
          },
          "agentAccountId": {
            "type": "string",
            "format": "caip10-account"
          },
          "agentChainRef": {
            "type": "string",
            "pattern": "^[a-z0-9]+:[a-zA-Z0-9._-]+$"
          },
          "agentWallet": {
            "type": "string",
            "pattern": "^(0x[a-fA-F0-9]{40}|[1-9A-HJ-NP-Za-km-z]{32,44}|[a-z0-9._-]{2,64})$"
          },
          "agentId": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          },
          "scope": {
            "type": "string",
            "maxLength": 128
          },
          "permissions": {
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 64
            },
            "maxItems": 32
          },
          "maxSpend": {
            "type": "string",
            "pattern": "^[0-9]{1,78}$"
          },
          "allowedPaymentTypes": {
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 32
            },
            "maxItems": 8
          },
          "receiptDisclosure": {
            "type": "string",
            "enum": [
              "none",
              "summary",
              "full"
            ]
          },
          "expiresAt": {
            "type": "integer",
            "minimum": 0
          },
          "instructions": {
            "type": "string",
            "maxLength": 4000
          },
          "skills": {
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 64
            },
            "maxItems": 48
          }
        }
      },
      "VerificationDataFlat": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/VerifierData_ownership_basic"
          },
          {
            "$ref": "#/components/schemas/VerifierData_ownership_social"
          },
          {
            "$ref": "#/components/schemas/VerifierData_ownership_pseudonym"
          },
          {
            "$ref": "#/components/schemas/VerifierData_ownership_dns_txt"
          },
          {
            "$ref": "#/components/schemas/VerifierData_ownership_org_oauth"
          },
          {
            "$ref": "#/components/schemas/VerifierData_contract_ownership"
          },
          {
            "$ref": "#/components/schemas/VerifierData_proof_of_human"
          },
          {
            "$ref": "#/components/schemas/VerifierData_nft_ownership"
          },
          {
            "$ref": "#/components/schemas/VerifierData_token_holding"
          },
          {
            "$ref": "#/components/schemas/VerifierData_wallet_risk"
          },
          {
            "$ref": "#/components/schemas/VerifierData_wallet_link"
          },
          {
            "$ref": "#/components/schemas/VerifierData_ai_content_moderation"
          },
          {
            "$ref": "#/components/schemas/VerifierData_agent_identity"
          },
          {
            "$ref": "#/components/schemas/VerifierData_agent_delegation"
          }
        ]
      },
      "VerificationDataNamespaced": {
        "type": "object",
        "additionalProperties": {
          "oneOf": [
            {
              "$ref": "#/components/schemas/VerifierData_ownership_basic"
            },
            {
              "$ref": "#/components/schemas/VerifierData_ownership_social"
            },
            {
              "$ref": "#/components/schemas/VerifierData_ownership_pseudonym"
            },
            {
              "$ref": "#/components/schemas/VerifierData_ownership_dns_txt"
            },
            {
              "$ref": "#/components/schemas/VerifierData_ownership_org_oauth"
            },
            {
              "$ref": "#/components/schemas/VerifierData_contract_ownership"
            },
            {
              "$ref": "#/components/schemas/VerifierData_proof_of_human"
            },
            {
              "$ref": "#/components/schemas/VerifierData_nft_ownership"
            },
            {
              "$ref": "#/components/schemas/VerifierData_token_holding"
            },
            {
              "$ref": "#/components/schemas/VerifierData_wallet_risk"
            },
            {
              "$ref": "#/components/schemas/VerifierData_wallet_link"
            },
            {
              "$ref": "#/components/schemas/VerifierData_ai_content_moderation"
            },
            {
              "$ref": "#/components/schemas/VerifierData_agent_identity"
            },
            {
              "$ref": "#/components/schemas/VerifierData_agent_delegation"
            }
          ]
        }
      }
    }
  },
  "paths": {
    "/api/v1/health": {
      "get": {
        "operationId": "healthCheck",
        "summary": "Health check",
        "tags": [
          "Health"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Invalid request"
          },
          "503": {
            "description": "Unhealthy"
          }
        }
      }
    },
    "/api/v1/verification/verifiers": {
      "get": {
        "operationId": "getVerifierCatalog",
        "summary": "Get supported verifiers and configuration",
        "description": "Returns a list of all supported verifier IDs, full verifier metadata (schemas + flow/access semantics), and the backend chain configuration (hub chain, asset allowlists).",
        "tags": [
          "Verification"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Verifier catalog"
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/verification/standardize": {
      "post": {
        "operationId": "buildSigningString",
        "summary": "Build the Standard Signing String",
        "tags": [
          "Verification"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StandardizeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardizeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/verification": {
      "post": {
        "operationId": "submitVerification",
        "summary": "Submit a verification request",
        "tags": [
          "Verification"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerificationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerificationCompleteResponse"
                }
              }
            }
          },
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerificationAcceptedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid signature",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/verification/status/{qHash}": {
      "get": {
        "operationId": "getVerificationStatus",
        "summary": "Get verification status",
        "tags": [
          "Verification"
        ],
        "parameters": [
          {
            "name": "qHash",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^0x[a-fA-F0-9]{64}$"
            }
          },
          {
            "name": "latestScope",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "true",
                "yes"
              ]
            }
          },
          {
            "name": "trackView",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "true"
              ]
            }
          },
          {
            "name": "walletAddress",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "verifierId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scopeKey",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-wallet-address",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-track-view",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "true"
              ]
            }
          },
          {
            "name": "x-signature",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-signed-timestamp",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerificationStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/verification/status-batch": {
      "post": {
        "operationId": "getVerificationStatusBatch",
        "summary": "Batch get verification status (minimal)",
        "tags": [
          "Verification"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerificationStatusBatchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/proofs/by-wallet/{address}": {
      "get": {
        "operationId": "getProofsByWallet",
        "summary": "Get proofs by wallet or DID",
        "tags": [
          "Proofs"
        ],
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "chainId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Filter proofs by chain ID (e.g., 84532 for Base Sepolia)"
            }
          },
          {
            "name": "visibility",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "public"
              ]
            }
          },
          {
            "name": "isPublicRead",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "true",
                "yes"
              ]
            }
          },
          {
            "name": "includeHistory",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "true",
                "yes"
              ]
            }
          },
          {
            "name": "x-wallet-address",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-signature",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-signed-timestamp",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-chain",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "description": "CAIP-2 chain reference for non-EVM signature verification (e.g. solana:mainnet)"
            }
          },
          {
            "name": "x-signature-method",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Signature method hint for non-EVM signatures (e.g. ed25519)"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProofsByWalletResponse"
                }
              }
            }
          },
          "304": {
            "description": "Not modified"
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/proofs/check": {
      "get": {
        "operationId": "proofCheck",
        "summary": "Check proofs against public criteria",
        "tags": [
          "Proofs"
        ],
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "qHash",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^0x[a-fA-F0-9]{64}$"
            }
          },
          {
            "name": "verifierIds",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "verifierId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "requireAll",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "minCount",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000
            }
          },
          {
            "name": "sinceDays",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 3650
            }
          },
          {
            "name": "since",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000
            }
          },
          {
            "name": "referenceType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "referenceId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tag",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tags",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contentType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "content",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contentHash",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractAddress",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tokenId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "chainId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "domain",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "minBalance",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "provider",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "handle",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "traitPath",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "traitGte",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": 0
            }
          },
          {
            "name": "select",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ownerAddress",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "riskLevel",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sanctioned",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "poisoned",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "primaryWalletAddress",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "secondaryWalletAddress",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "controllerWallet",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "agentWallet",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "delegationScope",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "agentId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "verificationMethod",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "neusPersonhoodId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ageMin",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 150
            }
          },
          {
            "name": "sanctionsPassed",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "claimsOnly",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "subject",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "me"
              ]
            }
          },
          {
            "name": "includePrivate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "x-wallet-address",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-signature",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-signed-timestamp",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-chain",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "description": "CAIP-2 chain reference for non-EVM signature verification (e.g. solana:mainnet)"
            }
          },
          {
            "name": "x-signature-method",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Signature method hint for non-EVM signatures (e.g. ed25519)"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GateCheckResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required for subject=me",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/proofs/revoke-self/{qHash}": {
      "post": {
        "operationId": "revokeSelf",
        "summary": "Revoke a proof you control",
        "tags": [
          "Proofs"
        ],
        "parameters": [
          {
            "name": "qHash",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RevokeSelfRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Revoked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RevokeSelfResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid signature",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Not authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/payments/pricing": {
      "get": {
        "operationId": "getPaymentPricing",
        "summary": "Get pricing information for all payment types",
        "tags": [
          "Payments"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Pricing information"
          },
          "400": {
            "description": "Invalid request"
          }
        }
      }
    },
    "/api/v1/payments/methods": {
      "get": {
        "operationId": "getPaymentMethods",
        "summary": "Get available payment methods",
        "tags": [
          "Payments"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Available payment methods"
          },
          "400": {
            "description": "Invalid request"
          }
        }
      }
    }
  }
}